#root {
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.title-centered {
  text-align: center;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}